.countdown-form {
  display: flex;

  @media (orientation: landscape) {
    flex-direction: row;
    gap: 5vw;
    justify-content: space-evenly;
    
    .countdown-form-field {
      width: 40vw;
    }
  }
  
  @media (orientation: portrait) {
    flex-direction: column;
    gap: 5vw;
    margin-top: 10vh;
    align-items: center;

    .countdown-form-field {
      width: 90vw;
    }
  }
}

.text-container {
  margin-bottom: 20px;
}

.time-text {
  font-weight: 400;
  margin: 0;
  text-align: center;
}

.title-text {
  color: #72035D;
  font-weight: 800;
  margin: 0;
  text-align: center;
}

h1 {
  white-space: nowrap;
}

input {
  height: 20px !important;
}